
.header{
    width: -webkit-fill-available;
    position: fixed;
    color: white;
    background-color: transparent;
    align-items: center;
    height: 5em;
    display: flex;
    justify-content: space-between;

    z-index:1;
    a{
        font-size: .9em;
        &:hover{
            color: $logoColor;
        }
    }
}

.header-logo{
    svg{
        width: 3rem;
    }
}

.header-logo-span{
    color: inherit;
    font-size: 1.5em;
    font-weight: 800;
    svg{
        fill:$backgroundColor;
        padding-left: 5vw;
        width: 4rem;
    }
}
.header-div{
    display: none;
    font-weight: 600;
    .header-div-link{
        font-size: .9em;
        color: inherit;
        display: flex;
        padding-right: 1em;
    }
}
@keyframes fadeInOpacity {
	0% {
        transform: translateY(-100);
		opacity: 0;
    }
    50%{
        transform: translateY(-50);
    }
	100% {
        transform: translateY(0);
		opacity: 1;
	}
}

.header-fixed{
    opacity: 1;
    transform: translateY(0);
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: .5s;
    
    background-color: white;
    color: $textColor;
    transition: transform 330ms ease-in-out;
    box-shadow: -1px 0px 9px 7px rgba(0,0,0,0.21);
    width: -webkit-fill-available;
    /* width: 100vw; */
    z-index: 1;
    svg{
        fill:$logoColor
    }
}

@include bp ("small"){

    .header{
        width: -webkit-fill-available;
        position: fixed;

        color: white;

        background-color: transparent;
        align-items: center;
        height: 5em;
        display: flex;
        justify-content: space-between;

        a{
            font-size: .9em;
            &:hover{
                color: $logoColor;
            }
        }
    }
    .header-logo-span{
        // padding-left: 1em;
        color: inherit;
        font-size: 1.5em;
        font-weight: 800;
        svg{
            width: 5rem;
        }
    }
    .header-div{
        display: flex;
        .header-div-link{
            font-size: .9em;
            color: inherit;
            display: flex;
            padding-right: 1em;
        }
    }
    @keyframes fadeInOpacity {
        0% {
            transform: translateY(-100);
            opacity: 0;
        }
        50%{
            transform: translateY(-50);
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .header-fixed{
        opacity: 1;
        transform: translateY(0);
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .5s;
        
        background-color: white;
        color: $textColor;
        transition: transform 330ms ease-in-out;
        box-shadow: -1px 0px 9px 7px rgba(0,0,0,0.21);
        width: -webkit-fill-available;
        /* width: 100vw; */
        z-index: 1;
    }
}
@include bp("medium"){
    .header-logo-span{
        svg{
            width: 6rem;
        }
    }
}