.footer-div{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    .footer-p{
        padding-left: 2em;
        padding-right: 2em;
        a{
            @include link-default;
        }
    }

}

@include bp("small"){
    .footer-p{
        display: flex;
        justify-content: flex-end;

    }
}

// @include bp("medium"){
//     .footer-div{
//         div{
//             display: c;
//         }
//     }
// }