
.footer-div{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    .footer-p{
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        opacity: .5;

        padding-left: 5vw;
        a{
            @include link-default;
        }
    }

}

.footer2{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    padding-left: 5vw;
    padding-bottom: 5vh;


    @mixin list-footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 10vw;
        h3{
            font-weight: 800;
        }
        ul{
            margin-top: 2em;
        }
    }
    .navigasi{
        @include list-footer;

    }
    .sosmed{
        @include list-footer;
    }
    .hubungi{
        @include list-footer;
    }
    .logo{
        display: none;
        width: 12vw;
        position: absolute;
        right: 10vw;
    }

}


@include bp("small"){
    .footer2{
        flex-direction: row;
        font-size: initial;
        .navigasi, .sosmed, .hubungi{
            margin: 0;
            margin-right: 10vw;
        }
        .logo{
            display : flex;
        }
    }
    .footer-p{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5vh;
    }

}

