@mixin height-home {
    min-height: 50vh;
    // width: 100vw;
  }

  @mixin margin-auto {
    margin-left: auto;
    margin-right: auto;
  }

  @mixin flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @mixin position-index {
    position: relative;
    z-index: 2;
  }

  @mixin button-reset {
      background-color: transparent;
      border: 0;
      cursor: pointer;
  }
  @mixin link-default {
      text-decoration: unset;
  }

  @mixin icon-hover{
    &:hover{
      background-color: $textColor;
      
      color: white;
      } 
  svg{
    color: inherit;
      path{
        color: inherit;
      }
    }
  }
  @mixin button {
    width: 95%;
    height: 3em;    
    
    font-weight: 800;
    margin-top: .3em;
    padding: .5em;

    border: none;
    cursor: pointer;
    
    color: $textColor;
    background-color: $linkColor;
  }
  @mixin submit{
    @include button;
    
}