



$mainColor: #1FAABF;
$mainColor1: #FFF133;
$mainColor2: hsl(187, 97%, 29%);
$secondaryColor: rgba(242,242,242, 0.4);
$backgroundColor: hsl(100, 100%, 99%);
$textColor: #1b262c;
$textColor1: #adb6bb;

$logoColor:#00e4ff;

$linkColor: #FFF133;

   

// for components

$buttonColor: $mainColor;



// 

$containerBackgroundColor: $backgroundColor;
$navColor: $backgroundColor;
$navLabelsColor: $textColor;
$socialProofBackgroundColor: #f4eeff;
$productBenefitsColor: $secondaryColor;
$productFeatureColor: $backgroundColor;
$testimonialsBackgroundColor: $secondaryColor;
$ctaBackgroundColor: $backgroundColor;



// layouts
$maxContainerWidth: 75rem;
