

.modal{
    .background {
        background: rgba(0,0,0,.33);
        position: fixed;
        z-index: 1040;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        outline: 0;
    }
    .box-dialog {
        width : 100vw;
        position: fixed;
        top: 0;
        right: -100vw;
        
        z-index: 1050;
        
        transition: all 0.3s ease-out;

        background-color: #fff;
        box-shadow: 0px 10px 50px hsla(0, 0%, 0%, 0.33);
        .box-content {
            display: flex;
            flex-direction: column;
            padding-top: 1em;
            padding-bottom: 3em;
            padding-left: 1em;
            font-size: larger;
            font-weight:600;
            width: 100%;
            // padding-top: 0;
            
        }
        .box-header {
            height: 5em;
            padding: 10px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #c7c7c7;
            .modal-logo{
                svg{
                    fill: $logoColor;
                    width: 3em;
                    height: 3em;
                }
            }
            .close-modal{
                svg{
                width: 2em;
                height: 2em;
                }
            }
            .sosmed-icon{
                font-size:2em;
            }
            .close-button{
                background:transparent;
            }
            .open-button{
                background:transparent
            }
            }
        .box-body {
            font-size: 14px;
            padding: 0px;
            width: auto;
            height: auto;
        }
        .box-footer {
            padding: 0px 24px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-top: 1px solid #c7c7c7;
        .social-div{
            flex-direction:row;
            justify-content: flex-end;
            width: 100%;
            padding:0;
            padding-bottom:1em;
            h3{
            display:none;
            }
        }
        }
    }   
    .boxDialogue-open{
        right :0;
    }       
}

.modal-desktop{
    .burger {
        display: block;
        cursor: pointer;
    }
}

.modal-index{
        button{
        .burger div{
            background-color: $backgroundColor;
        }
    }
}
.header-fixed{
    button{
        .burger div{
            background-color: $textColor;
        }
    }
}