body{  
    padding:0;
    margin:0;
  }
  header{
    height: 70px;
    background: #ccc;
    position:sticky;
    top:0;
    width:100%;
    transition:0.5s;
    z-index: 10;
  }
  
  header.blue{
    background: blue;
  }