
.homepage{
  display: flex;

  @mixin assets{
    position: absolute;
    width: 10vw;
    height: 5vh;
  }
  .homepage-A{
    position: absolute;
    right: -10;
  }
  .homepage-apostrope{
    display: flex;
    align-self: start;
    position: relative;
    top: -28px;
    left: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 40%);
  }
  .homepage-halfa{
    // opacity: .4; 
    height: 50vh;
    position: absolute;
    right: 0px;
    top: 30vh;
  }
  .homepage-dot {
    @include assets;
    height: auto;
    left: 60vw;
    top: 35vh;
    opacity: 0.7;
  }
  .homepage-circle {
    @include assets;
    left: 47vw;
    top: 40vh;
    width: 30vw;
    height: 20vh;
    opacity: 0;
    
  }
  .homepage-roundbox1 {
    @include assets;
    opacity: 0.2;
    width: 20em;
    height: 15em;
    right: 39vw;
    top: -163px;
    transform: rotate(78deg);
  }
  .homepage-roundbox {
    @include assets;
    opacity: 0;
    width: 20em;
    height: 15vh;
    left: -104vw;
    top: 0vw;
    transform: rotate(9deg);
  }
  .homepage-halfo{
    @include assets;
    display: none;
    top: 161vh;
    right: 0px;
    height: 17rem;
    width: 4rem;
  }

  .homepage-div1{
    padding-left: 5vw;
    width: 16em;
  }
  .homepage-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: medium;
    p{
      margin-left: auto;
      max-width: 30em;
      display: flex;
      margin-right: auto;
      color:$backgroundColor;
    }
  }
  .homepage-div2{
    padding-left: 5vw;
    padding-bottom: 3rem;
    width: 90vw;
    display: flex;
    align-self: start;
      p{
        display: flex;
        color: black;

        padding-top: 1em;
        padding-bottom: 2rem;
        margin: 0;
        max-width: 100vw;
    }
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    font-weight: 900;
    color:$backgroundColor;
  }
}
.homepage1{
  background-color: $mainColor;
  height: 95vh;
  h2{
    color:$backgroundColor;
  }
  
}
.homepage2{
  padding-top: 3rem;
  justify-content: flex-end;
  display: flex;
  align-items: left;
  flex-direction: column;
  h2{
    color:$textColor;
  }
  iframe{
    @include margin-auto;
    width: 80vw;

  }
}
.homepage3{
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  .homepage-div3-desc{
    display : flex;
    flex-direction: column;

    width: 85vw;
    padding-left: 5vw;
    padding-bottom: 10vh;

    h3{
      font-size: 1.5em;
      font-weight: 800;
      margin-bottom: 1em;
    }
  }
  .homepage-div3{
    display: flex;
    flex-direction: column;
    .homepage-box{
      width: 90vw;
      height: 28rem;
      border-radius: 35px;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      .another-box{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
      }
      .h4{
        padding-top: 3rem;
        font-weight: 900;
        font-size: larger;
      }
      .p{
        color:$textColor;
      }
      .avatar{
        background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
        width: 5rem;
        height: 5rem;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }
  }
}

// mobile
// mobile

@include bp ("small"){


  .homepage{
      .homepage-halfo{
      }
      .homepage-roundbox {
        opacity: 0.1;
      }
      .homepage-circle {
        opacity: .2;
      }

      .homepage-div{
        p{
          margin-left: auto;
          display: flex;
          margin-right: auto;
          color:$backgroundColor;
        }
      }    
      .homepage-div1{
        width: inherit;
      }
      .homepage-div2{
        p{
          padding-top: 10vh;
          color:$textColor;
        }
        h2{
          font-size: 2em;
        }
      }
      h2{
        font-size: 3em;
        font-weight: 800;
      }
    }    
    .homepage1{
      background-color: $mainColor;
      height: 100vh;      
    }
    .homepage2{
      justify-content: flex-end;
      display: flex;
      align-items: left;
      flex-direction: row;
      padding-top: 10vh;
      padding-bottom: 25vh;
      iframe{
        margin-right: 5vw;
      }
    }
    .homepage3{
      height:160vh;
      padding-top:0px;
      .homepage-div3{
        flex-direction: row;
        max-width:90vw;
        .homepage-box{
          height: 32rem;
          margin-right: 5vw;
          &:last-child{
            margin: 0;
          }
          .h4{
            padding-top: 2rem;
          }
        }
    }
  }
}

// desktop

@include bp ("medium"){


  .homepage{

    text-align: left;
    display: flex;
      .homepage-halfo{
        display: block;
      }
    }
    .homepage-div1{
      font-size:140%;
    }
    .homepage-div{
      max-width: 100vw;
      p{
        margin-left: auto;
        display: flex;
        margin-right: auto;
        color:$backgroundColor;
      }
    }  
    h2{
      font-size: 3em;
      font-weight: 900;
    }
  .homepage-div2{
    p {
      color:$textColor;
    }
  }
  .homepage1{
    background-color: $mainColor;
    height: 100vh;    
  }
  .homepage3{
    height: 110vh;
    .homepage-div3{
      .homepage-box{
        height: 28rem;
      }
    }
  }
}

@include bp ("large"){

  .homepage{
      .homepage-halfo{
        top:156vh;
      }
      .homepage-div1{
        font-size: x-large;
      }
      .homepage-div2{
        font-size: larger;
      }
      .homepage-div3-desc{
        font-size: larger;
      }
  }
  .homepage3{
    height: 90vh;
    .homepage-div3{
      .homepage-box{
        font-size: 1.3em;
        height: 35rem;
        width: 20rem;
      }
    }
  }
}