// base

@import "base/mixing";
@import "base/variables";
@import "base/normalize";
@import "base/breakpoints";


// components

@import "components/logo";
@import "components/push";
@import "components/button";
@import "components/paralax";
@import "components/search";
@import "components/collapses";
@import "components/carousel";
@import "components/hover";
@import "components/program";
@import "components/iframe";
@import "./components/daftar";

// footer

@import "./components/sub";
@import "./components/social";
@import "components/footer";

// header

@import"./header/header";


//base

@import "base/button";
@import "base/container";
@import "base/fonts";
@import "base/layout";

// components
@import "components/nav";
@import "home/index";

// page

@import "./page/program";
@import "./page/about";
@import "./page/donasi";
@import "./page/kegiatan";

// modals

@import "./modal/modals";

// main

@import "./main/main";

// global

.button{
    background-color: $linkColor;
    @include submit;
    width: 7em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
        &:hover{
            background-color: $backgroundColor;
            color: $mainColor;
        }
  }

.view-login{
    height: 70vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
@include bp("small"){
    .view-login{
        height: 70vh;
    }
}

.none{
    display: none;
}

a:hover{
    color: $logoColor;   
   }

.iframe{
    width: -webkit-fill-available;
}